{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>HOME</title>
</head>

<body>
    <!--------------------------  PRESENTACION  -------------------------->
    <div class="presentacion" id="presentacion">
        <div class="cuadro">
            <h1>DOGEWAY <br /><span style="color: #ffffff;">“Encuentra el amor para tu mascota de forma responsable
                    y segura”</span></h1>
            <p>Nuestras mascotas son un miembro más de la familia y<br />
                nos preocupamos de que tengan <br />
                una vida feliz y saludable.
            </p>
        </div>
    </div>


</body>

</html>
{% endblock content %}
