{% include "layouts/base.html" %}
{% load static %}

{% block estilos_adicionales %}
  <link rel="stylesheet" href="{% static 'css/lista.css' %}">
{% endblock %}
{% block content %}

<h1>Lista de Usuarios</h1>
<ul>
    {% for usuario in usuarios %}
        <li>
            Nombre de usuario: {{ usuario.username }}<br>
            Email: {{ usuario.email }}<br>
            Contra: {{ usuario.password}}<br>
            <!-- Agrega más campos personalizados si los tienes -->
        </li>
    {% endfor %}
</ul>

{% endblock content %}





