{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mascota_actualizar.css' %}">
    <title></title>
</head>

<body>
    <form method="post">
        <h1>Editar Mascota</h1><br><br>
        {% csrf_token %}

        <div class="input-container">
            <label for="id_nombre">Nombre:</label>
            {{ form.nombre }}
        </div>

        <div class="input-container">
            <label for="id_peso">Peso:</label>
            {{ form.peso }}
        </div>

        <!-- Agrega más campos según sea necesario -->

        <div class="button-container">
            <button type="submit">Guardar Cambios</button>
        </div>
    </form>
</body>

</html>
{% endblock content %}