{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mascota_detalle.css' %}">
    <title>Detalles de Mascota</title>
</head>

<body>
    <div class="detalleMascota">
        <h1>Detalles de Mascota</h1><br><br>

        <div class="input-container">
            <label for="id_nombre">Nombre de la mascota:</label>
            <p>{{ mascota.nombre }}</p>
        </div>

        <div class="input-container">
            <label for="id_edad">Edad:</label>
            <p>{{ mascota.edad }}</p>
        </div>

        <div class="input-container">
            <label for="id_raza">Raza:</label>
            <p>{{ mascota.raza }}</p>
        </div>

        <!-- Agrega más campos según sea necesario -->

        <div class="imagenesMascota">
            <h2>Imágenes de la mascota</h2>
            {% for imagen in imagenes_mascota %}
                <img src="{{ imagen.imagen_1.url }}" alt="Imagen de {{ mascota.nombre }}">
            {% endfor %}
        </div>

        <div class="button-container">
            <a href="{% url 'editar_mascota' mascota.id %}" class="button">Editar Mascota</a>
            <a href="{% url 'eliminar_mascota' mascota.id %}" class="button">Eliminar Mascota</a>
            <a href="{% url 'editar_redes_sociales' mascota.id %}" class="button">Redes Sociales</a>
        </div>
    </div>
</body>

</html>
{% endblock content %}
