{% extends "layouts/base.html" %}
{% load static %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock  %}
{% block content %}
    <div style="margin-top: 100px"></div>
    <div id="mascota-container">
        {% for mascota in mascotas %}
        <div class="mascota" style="display: none;">
            <div class="card mb-4">
                <div id="carouselExample{{ mascota.id }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for imagen_mascota in imagenes_mascotas %}
                            {% if imagen_mascota.mascota.id == mascota.id %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ imagen_mascota.imagen_1.url }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ imagen_mascota.imagen_2.url }}" class="d-block w-100" alt="...">
                                </div>
                                <!-- Repite esto para las demás imágenes -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample{{ mascota.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample{{ mascota.id }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
                <div class="card text-center">
                    <div class="card-header">
                        <h1>{{ mascota.nombre }}</h1>
                    </div>

                    <div class="card-body">
                        
                        <h5 class="card-title">{{ mascota.raza }}</h5>
                        <p class="card-text">{{ mascota.descripcion }}</p>
                        <div class="ditails"></div>

                        
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                        <button type="button" class="btn btn-outline-secondary btn-siguiente-mascota flex-fill mb-2">
                            <h2><i class="bi bi-hand-thumbs-down-fill"></i></h2>
                        </button>
                
                        <button type="button" id="btn-like" class="btn btn-outline-danger btn-siguiente-mascota flex-fill mb-2" data-mascota-id="{{ mascota.id }}">
                            <h2><i class="bi bi-arrow-through-heart"></i></h2>
                        </button>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" id="btn-detalles" class="btn btn-outline-secondary"  data-edad="{{ mascota.edad }}" data-peso="{{ mascota.peso }}"   data-tiene-cartilla="{{ mascota.tiene_cartilla }}">
                        <i class="bi bi-arrow-down"></i> Detalles
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
    
    <div class="alert alert-success" role="alert"></div>
    <div class="alert alert-info" role="alert"></div>
    <div class="alert alert-danger" role="alert"></div>
    {% endblock %}

    {# ----------------------------------------------------------------------------------- #}

    {% block SCRIPTS %}
    <script>
        window.onload = function() {
            var mascotas = document.getElementsByClassName('mascota');
            var indexActual = 0;

            // Mostrar la primera mascota
            if (mascotas.length > 0) {
                mascotas[0].style.display = 'block';
            }

            // Agregar evento click a todos los botones
            var botones = document.getElementsByClassName('btn-siguiente-mascota');
            for (var i = 0; i < botones.length; i++) {
                botones[i].addEventListener('click', function() {
                    // Ocultar mascota actual
                    mascotas[indexActual].style.display = 'none';
                    indexActual++;

                    // Mostrar la siguiente mascota
                    if (indexActual < mascotas.length) {
                        mascotas[indexActual].style.display = 'block';
                    } else {
                        // Si llegamos al final, volver al inicio del índice
                        indexActual = 0;
                        mascotas[indexActual].style.display = 'block';
                    }
                });
            }
        };

        $(document).ready(function () {
            $(".alert").hide();
        });
        
        $(document).on('click', '.btn-outline-danger', function () {
            var mascota_id = $(this).data('mascota-id');
            var csrfToken = '{{ csrf_token }}';
            $.ajax({
                method: 'POST',
                url: '/MATCH/like_mascota/',
                data: { 'mascota_id': mascota_id,
                'csrfmiddlewaretoken': csrfToken },
                success: function (data) {
                    console.log(data.status);
                    if (data.status === 'MATCH') {   
                        var alertDiv = $(".alert-success");
                        alertDiv.text("!! Match !!");
                        alertDiv.show();
                        setTimeout(function () {
                            alertDiv.hide();
                        }, 10000); // 10000 milisegundos = 10 segundos

                    } else if (data.status === 'like_added_already') {
                        var alertDiv = $(".alert-info");
                        alertDiv.text("Ya le habias dado like a este");
                        alertDiv.show();
                        setTimeout(function () {
                            alertDiv.hide();
                        }, 5000); // 10000 milisegundos = 10 segundos

                    } else if (data.status === 'like_added') {
                        var alertDiv = $(".alert-success");
                        alertDiv.text("Like agregado");
                        alertDiv.show();
                        setTimeout(function () {
                            alertDiv.hide();
                        }, 4000); // 10000 milisegundos = 10 segundos
                    }
                },
                error: function () {
                    // Manejar errores
                    var alertDiv = $(".alert-danger");
                        alertDiv.text("Error FATAL");
                        alertDiv.show();
                        setTimeout(function () {
                            alertDiv.hide();
                        }, 4000); // 10000 milisegundos = 10 segundos
                }
            });
        });
        document.querySelectorAll('#btn-detalles').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var cardBody = this.closest('.mascota').querySelector('.ditails');
        
                // Si el botón ya fue clickeado, volver al estado original
                if (btn.getAttribute('data-clickeado') === 'true') {
                    cardBody.innerHTML = '';
                    btn.innerHTML = '<i class="bi bi-arrow-down"></i> Detalles';
                    btn.setAttribute('data-clickeado', 'false');
                } else {
                    // Si el botón no fue clickeado, mostrar todos los detalles
                    cardBody.innerHTML =  '<p class="card-text">Edad: ' + Math.round(btn.getAttribute('data-edad')) + ' años</p><p class="card-text">Peso: ' + Math.round(btn.getAttribute('data-peso')) + ' kg</p><p>Tiene cartilla: ' + btn.getAttribute('data-tiene-cartilla') + '</p>';
                    btn.innerHTML = '<i class="bi bi-arrow-up"></i> Menos detalles';
                    btn.setAttribute('data-clickeado', 'true');
                }
            });
        }); 
    </script>
<!-- </body>

</html> -->
{% endblock %}