{% extends "layouts/base.html" %}
{% load static %}
{% block estilos_adicionales %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}


{% block content %}
{# ESTO NO ESTA PROBADO PERO ES UNA IDEA DE LO QUE SE NECESITA HACER #}
<div style="margin-top: 100px"></div>
<h1>Match en construccion</h1>
<div id="mascota-container">
    {% for mascota in mascotas %}
    <div class="mascota">
        <div class="card text-center">
            <div class="card-header">
                <h1>{{ mascota.nombre }}</h1>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ mascota.raza }}</h5>
                <p class="card-text">{{ mascota.descripcion }}</p>
                <button href="#" type="button" id="btn-siguiente-mascota" class="btn btn-outline-danger">
                    <i class="bi bi-arrow-through-heart"></i> Match
                </button>
            </div>

            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    // Variables
    const mascotaContainer = document.getElementById('mascota-container');
    const botonesMascota = document.querySelectorAll('.mascota');
    let indiceMascotaActual = 0;

    // Función para mostrar la mascota actual
    function mostrarMascotaActual() {
        botonesMascota.forEach((mascota, index) => {
            mascota.style.display = index === indiceMascotaActual ? 'block' : 'none';
        });
    }

    // Evento al hacer clic en el botón "Siguiente Mascota"
    document.getElementById('btn-siguiente-mascota').addEventListener('click', function() {
        // Incrementa el índice de la mascota actual
        indiceMascotaActual = (indiceMascotaActual + 1) % botonesMascota.length;
        mostrarMascotaActual();
    });

    // Mostrar la primera mascota al cargar la página
    mostrarMascotaActual();
});
</script>




{% endblock content %}





