{% extends "layouts/base.html" %}

{% block estilos_adicionales %}

{% endblock estilos_adicionales %}



{% block content %}
<h2>Preferencias</h2>
  <form method="post" style="background-color: #f0f0f0; padding: 20px;">
    {% csrf_token %}
    {{ form.preferencia_tamano.label_tag }} {{ form.preferencia_tamano }}
    <div class="alert alert-danger">
      {{ form.preferencia_tamano.errors }}
    </div>
    {{ form.preferencia_raza.label_tag }} {{ form.preferencia_raza }}
    <div class="alert alert-danger">
      {{ form.preferencia_raza.errors }}
    </div>
    {{ form.preferencia_edad_min.label_tag }} {{ form.preferencia_edad_min }}
    <div class="alert alert-danger">
      {{ form.preferencia_edad_min.errors }}
    </div>
    {{ form.preferencia_edad_max.label_tag }} {{ form.preferencia_edad_max }}
    <div class="alert alert-danger">
      {{ form.preferencia_edad_max.errors }}
    </div>
    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px;">Guardar Preferencias</button>
  </form>

{% endblock content %}