{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/registroImagenes_Mascota.css' %}">
  <title></title>
</head>

<body>
  <h2>Subir Imágenes para {{ mascota.nombre }}</h2>

  <form method="post" enctype="multipart/form-data" style="background-color: #f0f0f0; padding: 20px;">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <div class="alert alert-danger">
        {{ field.errors }}
      </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Guardar Imágenes</button>
  </form>
</body>

</html>
{% endblock %}