{% include "layouts/base.html" %}
{% load static %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{% static 'css/registroImagenes_Mascotas.css' %}">
{% endblock %}


{% block content %}
<style>
body{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
    /* Estilos para el contenedor principal */
.file-upload-container {
    background-color: whitesmoke;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

/* Estilos para el formulario */
.file-upload-container form {
    display: flex;
    flex-direction: column;
}

/* Estilos para el mensaje de subir imágenes */
.file-upload-container p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Estilos para los campos de formulario */
.file-upload-container .form-group {
    margin-bottom: 15px;
}

.file-upload-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.file-upload-container input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.file-upload-container .alert-error {
    color: red;
    margin-top: 5px;
}

.file-upload-container img {
    max-width: 100px;
    margin-top: 5px;
}

/* Estilos para el botón de enviar */
.file-upload-container .button-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-container .button-submit:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes de error generales */
.file-upload-container .errorlist {
    color: red;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
</style>
<div class="file-upload-container" style="margin-top: 100px;">
    <form method="post" enctype="multipart/form-data">
        <p>Sube imágenes de tu mascota:</p>
        {% csrf_token %}
        {% for field in imagen_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="alert-error">
                {{ field.errors }}
            </div>
            {% if field.name != "csrfmiddlewaretoken" %}
            {% if field.value %}
            <img src="{{ field.value.url }}" alt="{{ field.label_tag }}">
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
        <button class="button-submit" type="submit">Guardar</button>
        {% if imagen_form.errors %}
        <ul class="errorlist">
            {% for field_errors in imagen_form.errors.values %}
            {% for error in field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
{% endblock content %}