{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reportar_usuario.css' %}">
  <title></title>
</head>

<body>
  <h1>Reportar a {{ usuario_reportado.username }}</h1>

  <form method="post" action="{% url 'reportar_usuario' usuario_reportado.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar Reporte</button>
  </form>
</body>

</html>
{% endblock %}