{% include "layouts/base.html" %}

{% block content %}

<form method="POST" style="background-color: #f0f0f0; padding: 20px;">
    {% csrf_token %}
    {{ form.username.label_tag }}  {{ form.username }}
    {{ form.email.label_tag }}     {{ form.email }}
    {{ form.password1.label_tag }} {{ form.password1 }}
    {{ form.password2.label_tag }} {{ form.password2 }}
    {{ form.telefono.label_tag }}  {{ form.telefono }}
    {{ form.domicilio.label_tag }} {{ form.domicilio }}
    {{ form.fecha_de_nacimiento.label_tag }} {{ form.fecha_de_nacimiento }}
    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px;">Registrar</button>
</form>

{% endblock content%}

