{% extends "layouts/base.html" %}
{% load static %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{% static 'css/usuario_detalle.css' %}">
{% endblock %}


{% block content %}

<body>
    <div class="container">
        <form method="post">
            <h1>Detalles de Usuario</h1><br><br>
    
            <div class="input-container">
                <label for="id_username">NOMBRE:</label>
                <p>{{ usuario.username }}</p>
            </div>
    
            <div class="input-container">
                <label for="id_email">CORREO:</label>
                <p>{{ usuario.email }}</p>
            </div>
    
            <div class="input-container">
                <label for="id_telefono">TELEFONO:</label>
                <p>{{ usuario.telefono }}</p>
            </div>
    
            <div class="input-container">
                <label for="id_fecha_de_nacimiento">FECHA DE NACIMIENTO:</label>
                <p>{{ usuario.fecha_de_nacimiento }}</p>
            </div>
    
            <div class="input-container">
                <label for="id_direccion">DIRECCIÓN:</label>
                <p>{{ usuario.direccion }}</p>
            </div>
    
            <!-- Agregar más campos según sea necesario -->
    
            <div class="button-container">
                <a href="{% url 'actualizar_informacion_usuario' %}" class="button">Editar Usuario</a>
                <a href="{% url 'eliminar_cuenta_usuario' %}" class="button">Eliminar Cuenta</a>
                <a href="{% url 'editar_preferencias' %}" class="button">Editar Test de Preferencias</a>
            </div>
        </form>

    </div>
</body>

</div>

{% endblock content %}