{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/usuario_eliminar.css' %}">
    <title>Confirmar Eliminación de Cuenta</title>
</head>

<body>
    <form method="post">
        <h1>Confirmar Eliminación de Cuenta</h1><br><br>
        <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
        {% csrf_token %}
        <div class="button-container">
            <button type="submit">Sí, eliminar cuenta</button>
            <a href="{% url 'ver_informacion_usuario' %}">Cancelar</a>
        </div>
    </form>
</body>

</html>
{% endblock content %}
