{% extends "layouts/base.html" %}
{% load static %}

{% block estilos_adicionales %}
    <link rel="stylesheet" href="{% static 'css/usuario_actualizar.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
        <h1>Editar Usuario</h1><br><br>
        {% csrf_token %}
        
        <div class="input-container">
            <label for="id_username">Nombre de usuario:</label>
            {{ form.username }}
        </div>

        <div class="input-container">
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
        </div>

        <!-- Agrega más campos según sea necesario -->

        <div class="button-container">
            <button type="submit">Guardar Cambios</button>
            <a href="{% url 'usuario_detalles' pk=usuario.id %}">Cancelar</a>
        </div>
    </form>
{% endblock content %}
