{% extends "layouts/base.html" %}
{% load static %}

{% block estilos_adicionales %}
    <link rel="stylesheet" href="{% static 'css/usuario_eliminar.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
        <h1>Confirmar Eliminación de Cuenta</h1><br><br>
        <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
        {% csrf_token %}
        <div class="button-container">
            <button type="submit">Sí, eliminar cuenta</button>
        </div>
    </form>
{% endblock content %}
