{% extends "layouts/base.html" %}
{% load static %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{% static 'css/usuario_eliminar.css' %}">
{% endblock %}

{% block content %}

<form method="post">
    <h1><i class="bi bi-trash" id="icon"></i> Confirmar Eliminación de Cuenta</h1>
    <h2>Estimado usuario, recuerde que al presionar el boton de "ELIMINAR", perderá acceso a todos los datos y contenido
        asociados a la cuenta. <br>
        Esto incluye mensajes, archivos, fotos y cualquier otra información almacenada en su cuenta. </h2>
    <h2>Además, no podrá recuperar dicha cuenta una vez que se haya eliminado.
        Recuerde que eliminar una cuenta es una acción irreversible y no podremos recuperarla una vez que se haya
        eliminado. </h2>
    {% csrf_token %}
    <div class="button-container">
        <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
        <a href="{% url 'ver_informacion_usuario' %}">Cancelar</a>
        <button type="submit">ELIMINAR</button>
    </div>
</form>

{% endblock content %}