{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/verificacion.css' %}">
    <title></title>
</head>

<body>
  <div class="usuario-logueado">
    <img src="{% static 'imagenes/verificacion/verificacion.png' %}" alt="Icono de verificación">
    <h1>¡Hola {{ user.username }}!</h1><br>
  </div>

  <h2>VERIFICA TU CUENTA</h2>

  <p>Para garantizar la seguridad de nuestra comunidad, requerimos una rápida verificación de tu identidad.<br> Este proceso es simple, seguro y necesario para brindarte una experiencia confiable. ¡Gracias por tu cooperación!</p>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-upload">
      <p class="archivo">Sube tu idetificación.</p>
        <label for="file-input">Seleccionar Archivo</label>
        <input type="file" id="file-input" name="archivo" />
    </div>
    <button type="submit">Enviar Archivo</button>
</form>
</body></html>
{% endblock %}
