/* Estilo para el navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Estilo para el header */
.header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Estilo para el contenido */
.content {
    padding: 20px;
}

/* Estilo para el footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* REGISTROS */
.form-container {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

/* Estilo para el botón de envío */
button[type="submit"] {
    display: block;
    margin-top: 10px; /* Agrega espacio entre los campos y el botón */
} 

#logout-link {
    background-color: #ff0000; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno para hacer que parezca un botón */
    text-decoration: none; /* Quita la subraya del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cambiar el color del enlace cuando se coloca el cursor encima */
#logout-link:hover {
    background-color: #cc0000; /* Cambiar el color de fondo cuando se coloca el cursor encima */
}