/* DISEÑO DEL HOME */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 55px; /* Ajuste del margen superior para dejar espacio para la barra de navegación */
    /*background: black;*/
}

/* HEADER */
header {
    background-color: #0B667A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    z-index: 100;
}   

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 3%;
    padding-right: 1%;
}

header .navbar-logo {
    width: 100px; 
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li:hover {
    transition: 0.5s;
    background-color: #BD7219;
    border-radius: 50px;
}

header nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a.login-signup {
    color: white; /* Color blanco para Iniciar sesión y Crear cuenta */
}


/* PARA CUANDO YA ESTÁ EL LOGIN HECHO */
.select:hover {
    background-color: #0B667A;
}

.select {
    color: rgb(206, 206, 206);
    padding: 0px 0px;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

header {
    padding: 5px 10px;
}


.dropdown-menu {
    background-color: #0B667A;
}

.dropdown-menu a {
    color: white; 
}

.dropdown-menu a:hover {
    background-color: #BD7219;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
}
