.registroMascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}
body {
    background: linear-gradient(45deg, #02586c, #005264, #072931, #005264, #02586c);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
form {
    position: relative;
    background: linear-gradient(45deg, rgba(0, 82, 100, 0.8), rgba(14, 99, 118, 0.8), rgba(73, 115, 125, 0.8), rgba(88, 141, 153, 0.8));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    padding: 20px;
    border-radius: 20px;
    width: 100%; /* Cambiado a 100% */
    max-width: 700px; /* Añadido un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
    overflow: auto;
    box-sizing: border-box; /* Añadido para incluir el padding y el borde en el ancho total */
}

@media screen and (min-width: 768px) {
    .bk {
        background-size: cover;
    }
}

.input-container,
.select-container,
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Aumentado el margen inferior para separación */
    position: relative;
}

.input-container label,
.select-container label,
.file-upload-container label {
    color: white;
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea,
.select-container select,
.file-upload-container input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    outline: none;
}

.input-container input,
.input-container textarea {
    border-bottom: 1px solid white;
    color: white;
}

.input-container textarea {
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 100px;
}

.select-container .alert-danger,
.file-upload-container .alert-danger {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    color: #FFD700; /* Color de la alerta de error */
}

.select-container select,
.file-upload-container input[type="file"] {
    border-bottom: 1px solid white;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.select-container select:focus,
.file-upload-container input[type="file"]:focus {
    border-bottom: 1px solid #FFD700; /* Cambiar el color del borde al enfocarse */
}

.file-upload-container label {
    background-color: #0B667A;
    color: white;
    padding: 15px 30px; /* Aumentado el padding para hacer el botón más grande */
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.file-upload-container label:hover {
    background-color: #004251;
    transition: background-color 0.3s ease;
}

.file-upload-container label:active {
    background-color: #0B667A;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-upload-container p {
    color: white;
    text-align: center;
    padding: auto;
}

.button-submit {
    background-color: #0B667A;
    color: white;
    padding: 15px 100px; /* Aumentado el padding para hacer el botón más grande */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-submit:hover {
    transition: 0.5s;
    background-color: #01323d;
}

.alert-error {
    color: #721c24; /* Color del texto */
}
