   /* Estilo para el contenedor del formulario */
   .form-container {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

/* Estilo para el botón de envío */
button[type="submit"] {
    display: block;
    margin-top: 10px; /* Agrega espacio entre los campos y el botón */
} 