
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    {% block estilos_adicionales %}{% endblock %}
    {% block estilos_ad %}{% endblock %}
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #0B667A;">
            <div class="container-fluid">
                <a class="navbar-brand" id="imagen" href="{% url 'home' %}">
                    <img src="{% static 'imagenes/LOGO.png' %}" alt="Dogeway Logo" class="navbar-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                        {% if user.is_authenticated%}
                            <li class="nav-item" id="NombreUsuario">
                                <a class="nav-link">
                                    {% if user.verificado %}
                                    <i class="bi bi-person-check" style="color: gold;"></i>
                                    {% endif %}
                                    {{ user.username }}
                                </a>
                            </li>
                            {% if mascota_seleccionada %}
                                <li class="nav-item" id="NombreMascota">
                                    <a class="nav-link">
                                        <i class="bi bi-stars" style="color: gold;"></i>
                                        {{ mascota_seleccionada.nombre }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Match' %}">
                                        INICIAR MATCH ❤️
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color: gold;">
                                        <i class="bi bi-three-dots" style="color: gold;"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/ver_informacion/">Mi Usuario</a></li>
                                        <li><a class="dropdown-item" href="/mascotas/">Mis Mascotas</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}?next={% url 'home' %}">
                                    <i class="bi bi-door-closed" style="color: gold;"></i> Cerrar sesión
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link login-signup" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block SCRIPTS %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
