{% extends "layouts/base.html" %}
{% load static %}
{% block estilos_ad %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div style="margin-top: 100px"></div>
<div class="title-container">
    <h1>Mis chats</h1>
    <p>{{ usuario.username }}</p>
</div>
<div class="container">
    <div class="conversations">
      <!-- Aquí va la lista de conversaciones -->
      <ul>
        {%if matches%}
            {%for m in matches%}
                {% if m.mascota1.dueño == usuario %}
                <li> 
                    <a  class="chat-link" data-chat-id="{{m.id}}">
                        <h5 >{{m.mascota2.nombre}}</h5>
                        <small>{{m.mascota2.dueño.username}}</small>
                    </a>
                    <div class="btn-group" style="margin-top=2px;">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!--<i class="bi bi-three-dots-vertical"></i> -->
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'reportar_usuario' usuario_id=m.mascota2.dueño.id %}">Reportar</a></li>
                            <li><a class="dropdown-item" href="{% url 'bloquear_usuario' usuario_id=m.mascota2.dueño.id %}" style="color:red;">Bloquear</a></li>
                        </ul>
                      </div>
                    <div class="btn-group">
                </li>
                {% else %}
                <li> 
                    <a class="chat-link" data-chat-id="{{m.id}}">
                        <h5 >{{m.mascota1.nombre}}</h5>
                        <small>{{m.mascota1.dueño.username}}</small>
                    </a>
                    <div class="btn-group" style="margin-top=2px;">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!--<i class="bi bi-three-dots-vertical"></i> -->
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'reportar_usuario' usuario_id=m.mascota1.dueño.id %}">Reportar</a></li>
                            <li><a class="dropdown-item" href="{% url 'bloquear_usuario' usuario_id=m.mascota1.dueño.id %}" style="color:red;">Bloquear</a></li>
                        </ul>
                      </div>
                    <div class="btn-group">
                </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li><h3 style="color:red;">No hay conversaciones</h3></li>
        {% endif %}
      </ul>
    </div>
    <div class="chat">
        
        <div id="messages"></div>
        <form id="form">
            <input type="text" name="message" data-rem="{{usuario.username}}"/>
            <button type="submit"><i class="bi bi-arrow-right-square"></i></button>
        </form>
    </div>

    

    

{% endblock content %}

{% block SCRIPTS %}
<script type="text/javascript">
    let chatSocket;

    function startChat(chatId) {
        // Close the previous chat socket if it exists
        if (chatSocket) {
            chatSocket.close();
        }

        let url = `ws://${window.location.host}/ws/socket-server/${chatId}/`
        chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            var inputElement = document.querySelector('input[name="message"]');
            // Obtener el valor del atributo data-rem
            let remValue = inputElement.dataset.rem;
            console.log('Data:', data)
            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div class="mensaje">
                                        <p>${data.message}</p>
                                        <small>${remValue}</small>
                                    </div>`)
            }
        }

        let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value 

        // Send the message to the server to be saved
        fetch('/save-message/', {
            method: 'POST',
            body: JSON.stringify({
                'message': message,
                'chat_id': chatId  // You'll need to keep track of the current chatId
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        });

        chatSocket.send(JSON.stringify({
            'message':message
        }))
        form.reset()
    })

    }

    function loadMessages(chatId) {
        // Make a request to your server to get the messages for this chat
        fetch(`/get-messages/${chatId}/`)
            .then(response => response.json())
            .then(messages => {
                // Clear the existing messages
                let messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML = '';

                // Aqui
               /* messages.forEach(message => {
                    messagesDiv.insertAdjacentHTML('beforeend', `<div class="mensaje">
                        <p>${message}</p>
                        <small></small>
                    </div>`);
                });*/ 
                messages.forEach(message => {
                    messagesDiv.insertAdjacentHTML('beforeend', `<div class="mensaje">
                        <p>${message.mensaje}</p>
                        <small>${message.remitente}</small>
                    </div>`);
                });
            });
    }

    let matchElements = document.querySelectorAll('a[data-chat-id]');

    matchElements.forEach(matchElement => {
        matchElement.addEventListener('click', function() {
            var chatId = this.dataset.chatId;
            startChat(chatId);
            loadMessages(chatId);
        });
    });

// Obtener todos los enlaces de chat
var chatLinks = document.querySelectorAll('.chat-link');

// Función para manejar el clic en el enlace
function handleClick(event) {
    // Remover la clase 'active' de todos los enlaces
    chatLinks.forEach(function(link) {
        link.classList.remove('active');
    });

    // Agregar la clase 'active' al enlace clicado
    event.target.classList.add('active');
}

// Agregar un event listener a cada enlace para manejar el clic
chatLinks.forEach(function(link) {
    link.addEventListener('click', handleClick);
});



    </script>

{% endblock  %}



    
